name: Deploy to AWS

permissions:
  contents: read
  id-token: write

on:
  push:
    branches:
      - main
      - develop

jobs:
  env_detect:
    runs-on: ubuntu-latest
    steps:
      - name: Detect env
        id: branch_check
        run: |
          echo "Running on branch ${{ github.ref }}"
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "env_name=production" >> $GITHUB_OUTPUT
            echo "website_url=https://www.eladheller.com" >> $GITHUB_OUTPUT
          elif [ "${{ github.ref }}" = "refs/heads/develop" ]; then
            echo "env_name=develop" >> $GITHUB_OUTPUT
            echo "website_url=https://dev-www.eladheller.com" >> $GITHUB_OUTPUT
          fi
      - name: Use variable setup in previous step
        run: echo "I'm using variable ${{ steps.branch_check.outputs.env_name }}"
    outputs:
      env_name: ${{ steps.branch_check.outputs.env_name }}
      website_url: ${{ steps.branch_check.outputs.website_url }}


  deploy:
    runs-on: ubuntu-latest
    needs:
      - env_detect
    environment: 
      name: ${{ needs.env_detect.outputs.env_name }}
      url: ${{ needs.env_detect.outputs.website_url }}
    steps:
    - uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Build and Deploy
      run: |
        export HOSTED_ZONE_ID=${{ secrets.ROUTE53_HOSTED_ZONE_ID }}
        export ENVIRONMENT=${{ needs.env_detect.outputs.env_name }}
        npm run build
        ./infrastructure/deploy.sh 